*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --concertOneFont: "Concert One", sans-serif;
  --interFont: "Inter", sans-serif;
  --grey: #eeeeee;
  --darkYellow: #ffcc68;
  --yellow: #fbdf7c;
  --orange: #ff9548;
}

article {
  overflow-wrap: anywhere;
  max-width: 1000px;
  width: 100%;
  padding: 0.5rem;
  margin: 50px auto 0px;
}

h1 {
  font-family: var(--concertOneFont);
  text-align: center;
  font-size: clamp(3.5rem, 8vw, 4.375rem);
  font-weight: 400;
  margin-bottom: 51px;
}
.container {
  text-align: center;
}

.btnContainer {
  white-space: nowrap;
}

#choresInput {
  font-family: var(--interFont);
  max-width: 441px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: var(--grey);
  font-size: clamp(1rem, 8vw, 1.875rem);
  margin-bottom: 10px;
  line-height: 94px;
  overflow-x: auto;
}

button {
  line-height: 94px;
  font-size: 1.875rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 90%;
  transform: scale(0.9);
  box-shadow: 0px 0px 5px var(--grey);
}

#addBtn-el {
  max-width: 87px;
  width: 100%;
  margin: 0 13px 0px 15px;
  background-color: var(--darkYellow);
  font-size: 1.875rem;
}

#deleteAllBtn-el {
  max-width: 82px;
  width: 100%;
  font-size: 1.875rem;
  background-color: var(--orange);
}

#listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  width: 100%;
  max-width: 1000px;
}

.individualLine {
  display: flex;
  justify-content: center;
  width: 100%;
}

.choresItems {
  font-size: clamp(1rem, 8vw, 1.875rem);
  font-family: var(--interFont);
  max-width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  background: var(--yellow);
  border-radius: 10px;
  margin-right: 10px;
  text-align: center;
}

.individualDeleteBtn-el {
  width: 100%;
  max-width: 82px;
  background-color: var(--orange);
}

.guardClause {
  font-size: clamp(1rem, 8vw, 1.875rem);
  color: red;
  font-family: var(--interFont);
  text-align: center;
}
